/*body{
  background-image: url(../images/library_bg_2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}*/

.header-title {
  text-align: center;
  padding-bottom: 50px;
}

.boxes{
  padding-left:50px;
  padding-right: 50px;
}

.add_book{
  margin-left: 40px;
  font-family: helvetica;
  font-weight: bold;
}

.jumbotron{
  min-height: 250px !important;
}

.well{
  min-height: 250px !important;
}

.actions div{
  align-items: center;
  padding-left: 300px;
  padding-right: 300px;
}

.action-list button{
  height: 50px;
  border: black solid 2px;
  font-family: helvetica;
  font-weight: bold;
}

#inject-form-one, #inject-form-two, #inject-form-three, #inject-form-four, #inject-form-five, #inject-form-six, #inject-form-seven, #inject-form-eight, #inject-form-nine{
  display: none;
}
