
body {
  background-color: #008080 !important;
  text-align: center;
}

////////////////////////////////////////////////////////////////////////////////



tr{
  height:30px;
  border: black solid 1px;
}

.svg-wrapper {
  height: 60px;
	margin: 60px auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 320px;
}

.shape {
  fill: transparent;
  stroke-dasharray: 140 540;
  stroke-dashoffset: -474;
  stroke-width: 8px;
  stroke: #19f6e8;
}

.text {
  color: #fff;
  font-family: 'Roboto Condensed';
  font-size: 22px;
  letter-spacing: 8px;
  line-height: 32px;
  position: relative;
  top: -48px;
}

@keyframes draw {
  0% {
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 8px;
  }
  100% {
    stroke-dasharray: 760;
    stroke-dashoffset: 0;
    stroke-width: 2px;
  }
}

.svg-wrapper:hover .shape {
  -webkit-animation: 0.5s draw linear forwards;
  animation: 0.5s draw linear forwards;
}

\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
.boxes{
  padding-left:50px;
  padding-right: 50px;
}

.add_book{
  margin-left: 40px;
  font-family: helvetica;
  font-weight: bold;
}

.jumbotron{
  min-height: 250px !important;
  margin-left: 50px;
  margin-right:10px;
  color:black;
}

.well{
  min-height: 250px !important;
}

.checkout button{
  padding: 1px 6px;
}

#getBookByTitle{
  margin-bottom: 40px;
}

#getBookByAuthor{
  margin-bottom: 40px;
}


#byTitleButton{
  display: none;
  width:200px;
}

#byAuthorButton{
  display: none;
  width:200px;
}

.actions div{
  align-items: center;
  padding-left: 300px;
  padding-right: 300px;
}

.actions{
  margin-bottom: 100px;
}

#action-list button{
  height: 50px;
  border: black solid 2px;
  font-family: helvetica;
  font-weight: bold;
}

#inject-form-one, #inject-form-two, #inject-form-three, #inject-form-four, #inject-form-five, #inject-form-six, #inject-form-seven, #inject-form-eight, #inject-form-nine{
  display: none;
}

#inject-form-one button{
  height: 35px;
}

#inject-form-three button{
  height: 35px;
}

#inject-form-four button{
  height: 35px;
}
